[data-theme="dark"] {
  --bg:           #000000;
  --border:       #ffffff;
  --text:         #ffffff;
}

html {
  font-size: 16px;
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
  background: var(--bg);
  color: var(--text);
}

.mainScreen {
  display: grid;
  grid-template-columns: 220px 1fr;
}
