
html {
  font-family: 'JetBrains Mono', monospace;
}

body {
  background-color: var(--colors-background);
  color: var(--colors-text);
}

hr {
  border: none;
  border-top: 1px solid var(--colors-border);
}

code {
  display: inline-block;
  width: fit-content;
  height: fit-content;
  padding: 2px 4px;
  margin: 0;
  background-color: var(--colors-selected);
  border-radius: 8px;
}

table {
  border: 1px solid var(--colors-border);
  border-radius: 8px;
}

th {
  background: var(--colors-selected);
  padding: 4px 8px;
  border-bottom: 1px solid var(--colors-border);
  border-right: 1px solid var(--colors-border);
}

td {
  padding: 4px 8px;
  border-bottom: 1px solid var(--colors-border);
  border-right: 1px solid var(--colors-border);
}

.Clickable {
  cursor: pointer;
  user-select: none;
}

@media (hover: hover) and (pointer: fine) {
  .Clickable:hover {
    background-color: var(--colors-focused);
  }
}

.Clickable:active {
  background-color: var(--colors-pressed);
}

.ColorsSwitch {
  padding: 8px 16px;
  border-radius: 8px;
}

.MenuSwitch {
  padding: 8px 16px;
  border-radius: 8px;
  display: none;
}

.StartBar {
  width: 256px;
}

.Modules {
  padding: 8px 16px;
  flex-direction: column;
  min-height: 0;
  gap: 8px;
  overflow-y: auto;
  justify-content: flex-start;
}

.ModuleItem {
  padding: 8px 16px;
  border-radius: 8px;
}

.ModuleItem.selected {
  background-color: var(--colors-selected);
  color: var(--colors-primary);
  cursor: auto;
}

.Scrim {
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--durations-animation) ease;
  background-color: var(--colors-scrim);
}

.ModuleTitle {
  font-weight: 700;
  padding: 0 16px 0 256px;
}

.ModuleScreen {
  padding: 0 16px 0 calc(256px + 16px);
}

@media (max-width: 768px) {
  .MenuSwitch {
    display: block;
  }

  .StartBar {
    transform: translateX(-100%);
    opacity: 0;
    background-color: var(--colors-background);
    transition: transform var(--durations-animation) ease, opacity var(--durations-animation) ease;
  }

  .StartBar.opened {
    transform: translateX(0);
    opacity: 1;
  }

  .Scrim.opened {
    opacity: 1;
    pointer-events: auto;
  }

  .ModuleTitle {
    padding: 0 16px;
  }

  .ModuleScreen {
    padding: 0 16px;
  }
}
