
:root {
  --colors-primary: #1e88e5ff;
  --colors-text: var(--colors-foreground);
  --colors-scrim: #202020d0;
}

[data-colors="dark"] {
  --colors-background: #202020ff;
  --colors-focused: #282828ff;
  --colors-pressed: #303030ff;
  --colors-selected: #383838ff;
  --colors-foreground: #d0d0d0ff;
  --colors-border: #606060ff;
}

[data-colors="light"] {
  --colors-background: #d0d0d0ff;
  --colors-focused: #c8c8c8ff;
  --colors-pressed: #c0c0c0ff;
  --colors-selected: #b8b8b8ff;
  --colors-foreground: #202020ff;
  --colors-border: #808080ff;
}
